.App {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
}
